COMPOSE_PROJECT_NAME=enterprise_sync

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=enterprise_db

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

S3_ENDPOINT_URL=http://localhost:9000
S3_REGION=eu-central-1
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
S3_BUCKET_NAME=transactions-bucket

DEV_SECRET_TOKEN=dev-secret-token

DATABASE_URL=postgresql://admin:password@localhost:5432/enterprise_db