COMPOSE_PROJECT_NAME=enterprise_sync

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=enterprise_db

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=password

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

DEV_SECRET_TOKEN=Bearer dev-secret-token